.signup .label {
  text-align: left;
  margin-bottom: 40px;
}
.input {
  position: relative;
  padding: 0;
  margin: 0;
  display: inline;
  text-align: center;
  justify-content: center;
}
input[name="email"],
input[name="password"] {
  width: 100%;
}
input {
  border: none;
  box-shadow: 0.5px 0.5px grey;
  margin: 10px auto 30px auto;
  // margin-bottom: 30px;
  height: 40px;
  // margin-top: 10px;
}
.label {
  position: absolute;
  z-index: 100;
  left: 5px;
  top: 20%;
  color: #aaa;
  font-size: 1rem;
  visibility: hidden;
}

.input {
  &:focus-within,
  :not(:placeholder-shown) {
    .label {
      animation: animateLabel 0.2s forwards;
    }
  }
}

input[name="firstName"],
input[name="lastName"] {
  width: 100%;
}
input[name="birthDate"] {
  margin: 0;
  padding: 0;
  width: 100%;
}
select[name="gender"] {
  margin-right: 10px;
  padding: 0;
  width: 100%;
}

@keyframes animateLabel {
  100% {
    top: -20px;
    font-size: 0.7rem;
    color: blue;
    visibility: visible;
  }
}
