* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

.grid {
  display: flex;
  justify-content: space-evenly;
  padding: 1% 2%;
  width: 100%;

  align-items: center;
}
.col {
  width: 100%;
}
.card {
  width: 100%;
  border-radius: 2%;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.logo {
  align-self: center;
  align-content: left;
  text-align: left;
}
.btn {
  margin-right: 10px;
  padding: 1% 2%;
  color: white;
  background-color: black;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.sign {
  display: flex;
  justify-content: right;
}
